* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:visited, a:active {
  text-decoration: none;
}

body {
  margin: 0;
}

#app {
  height: 100%;
  min-height: 200px;
  min-width: 360px;
}